body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

.footer-links a {
  display: block;
  color: grey;
  text-decoration: none;
}

#SupportHero {
  color: white;
  background-color: rgb(26,126,209);
  
}

#SupportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 200px
}

#SupportHero a{
  color: white;
  margin-right: 15px;
}

#SupportHero input {
  padding: 20px 50px;
  width:80%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

#SupportContent {
  margin: 50px 200px;
  padding: 30px;
}
